.container {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	max-width: 80rem;
	padding: 2rem;
}

.main {
	margin: 3rem 0 6rem;
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
}

.headerBackground {
	display: flex;
	background-color: #f6f6f6;
	border-radius: 50rem;
	padding: 1.5rem 2rem;
}

.title {
	align-content: center;
	margin: 0 0 0 0.75rem;
	line-height: 1.15;
	font-size: 1.8rem;
}

.grid {
	display: flex;
	justify-content: space-between;
}

.col {
	width: 32%;
}

.col input {
	border: 1px solid #cecece;
	border-radius: .25rem;
	margin-bottom: 0.5rem;
	padding: .5rem;
	width: 100%;
	font-size: 1rem;
}

.makeSheetsContainer {
	display: flex;
	gap: 1rem;
	justify-content: center;
	margin-top: 3rem;
}

.numberOfSheetsContainer {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.numberOfSheets {
	font-size: 1rem;
	padding: 1rem;
	width: 6rem;
	border-radius: 0.25rem;
	border: 1px solid #cecece;
}

.button {
	background-color: #333;
	border-radius: 0.25rem;
	color: #fff;
	cursor: pointer;
	font-size: 1rem;
	border: 0;
	padding: 1rem;
	width: 15rem;
}

.button:hover {
	opacity: 0.75;
}

.total {
	font-size: 1.5rem;
}

.footer {
	display: flex;
	justify-content: center;
	font-size: 0.9rem;
}

.footerBackground {
	background-color: #f6f6f6;
	padding: 1.5rem 2rem;
	border-radius: 50rem;
}

.whitespaceNowrap {
	white-space: nowrap;
}

@media (max-width: 600px) {
	.title {
		font-size: 1.2rem;
	}

	.colLabel {
		font-size: 1rem;
	}

	.footer {
		font-size: 0.8rem;
	}
}
